.footer {
    background: var(--azul-principal);
    color: var(--offwhite);
    padding: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 2em;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer p {
    font-size: 1.25em;
    font-family: var(--fonte-textos);
}
