.time {
    text-align: center;
    padding: 2em;
    background-blend-mode: multiply;
    position: relative;
}

.time h3 {
    font-family: var(--fonte-titulos);
    font-size: 2em;
    color: var(--preto-letras);
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 0.25em;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    flex-wrap: wrap;
}

.input-cor {
    position: absolute;
    top: 20px;
    right: 50px;
}
